body{
    background-image: url(images/memedom.jpg);
    background-repeat: no-repeat;
    background-size: 1540px 755px;
    font-family: 'Ranchers', cursive;
    color: white
    
}
a{
    color: white;
}
